<!--<link rel="import" href="../components/polymer/polymer.html">-->
<link rel="import" href="../components/core-scaffold/core-scaffold.html">
<link rel="import" href="../components/core-header-panel/core-header-panel.html">
<link rel="import" href="../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../components/core-item/core-item.html">
<link rel="import" href="../components/core-menu/core-submenu.html">
<link rel="import" href="../components/font-roboto/roboto.html">

<!--import Core Icons-->
<link rel="import" href="../components/core-icons/social-icons.html">

<polymer-element name="get-plans-layout" attributes="selected" noscript>

  <template>

    <link rel="stylesheet" href="main-layout.css" shim-shadowdom>
    
    <div class="header">
        <div class="bottom fit" horizontal layout>

          <paper-tabs selected="{{selected}}" valueattr="name" flex>

            <paper-tab name="compact-view">COMPACT</paper-tab>
            <paper-tab name="full-detail-view">FULL DETAIL</paper-tab>
            <paper-tab name="cozy-view">Cozy</paper-tab>
            <paper-tab name="json-view">JSON</paper-tab>

          </paper-tabs>

        </div>
        <section>
          <paper-shadow>
            <div horizontal center-justified layout hidden?="{{!loading_layout}}">
              <div vertical layout >
                <h3 style="margin: 30px 0px 5px 0px; padding: 0px;">Do you like this plan? ( {{display_solution_id}} / {{solution_length}} )</h3>
      <!--            <p><paper-button raised on-tap="{{getNextSolution}}">No</paper-button> <paper-button raised class="colored">Yes</paper-button></p>-->
                    <p>
                      <paper-button raised on-tap="{{getPreviousSolution}}"><< Previous </paper-button>     
                      <paper-button raised on-tap="{{refreshSolution}}">Reload UI</paper-button>
<!--                      <paper-button raised on-tap="{{requestPlans}}">Refresh</paper-button>-->
                      <paper-button raised class="colored" on-tap="{{getNextSolution}}">Next >></paper-button></p>
              </div>
            </div>
          </paper-shadow>
        </section>
        
      </div>
    
    

</template>
  
</polymer-element>
